.styckeTest3 {
    background-color: rgb(255, 255, 255);
}
.styckeTest3 a {
    margin-right: auto;
    margin-left: auto;
}
.oklart{
    display : flex;
}
.oklart2 {
    margin-right: auto;
    margin-left: auto;

    
}